body {
  height: 1080px;
}
tbody {
  background-color: bisque;
}
.div {
  margin-left: 8px;
}
.p {
  font-size: 20px;
}
.h1 {
  margin: 0 auto;
  width: 500px;
}
.form {
  margin-top: 10px;
}
.comments {
  display: block;
  flex-direction: column;
  margin-top: 20px;
}

th:nth-child(even) {
  background-color: blueviolet;
}
th:nth-child(odd) {
  background-color: chocolate;
}

tr:nth-child(3n):hover {
  background-color: aqua;
  cursor: pointer;
}
tr:last-child {
  background-color: rgb(139, 125, 0);
}
tr + tr :first-child {
  background-color: darkgoldenrod;
}
#number:focus {
  outline: 5px inset brown;
}
#ok {
  background-color: darkorange;
}
#ok:active,
#ok:hover {
  background-color: darkgreen;
  cursor: pointer;
}

#button[disabled] {
  display: flex;
  flex-direction: row-reverse;
  background-color: crimson;
  margin-top: 5px;
}
#name_1:focus {
  outline: 5px dotted chartreuse;
}
